<div class="card">
    <div class="card-body">
          <h1>Login</h1>
   
     <form (ngSubmit)="guardar()">
      <div>
       <label class="form-label">
              Usuario:
       </label>
       <input type="text" name="mombre"  class="form-control" placeholder="" >
      </div>
      <div>
       <label class="form-label">
            Contraseña:
       </label>
       <input type="text" name="apellido"   class="form-control" placeholder="" >
      </div>
      <button class="btn">   Enviar </button>
    
     </form>
   
    </div>
   </div>
   
   